<div class="progress-content">
    <div class="progress-header">
        <div class="progress-bar-track">
            <div class="progress-bar-fill"></div>
        </div>
        <div class="progress-phase-badge">
            {{#if hasSvg}}<i class="fas fa-paint-brush"></i> Rendering{{else}}<i class="fas fa-brain"></i>
            Designing{{/if}}
        </div>
    </div>

    <div class="progress-status">Generating...</div>

    <div class="progress-log"></div>

    {{#if hasSvg}}
    <div class="silhouette-container">
        {{{svgContent}}}
    </div>
    {{/if}}

    <div class="progress-spinner">
        <div class="spinner-ring"></div>
        <span>Working on it...</span>
    </div>
</div>